@import 'nib'

.grid
  margin-top: 100px !important

.sliding
  top: 25px
  position: absolute
  animation: test 15s
  animation-timing-function: linear

@keyframes test
  0%
    left: 0
  100%
    left: 100%

#board
  margin: 0 auto
