html
  head
    meta(charset="utf-8")
    script(src="./bower_components/jquery/dist/jquery.min.js")
    script(src="./bower_components/semantic/build/packaged/javascript/semantic.js")
    link(rel="stylesheet" href="./bower_components/semantic/build/packaged/css/semantic.css")
    link(rel="stylesheet" href="./css/index.css")
    script(src="./index.js")
  body
    .ui.grid
      .four.wide.column
      .eight.wide.column
        table.ui.collapsing.table#board
          thead
            tr
              th
                #q0.ui.black.huge.button &nbsp;
              th
                #q1.ui.black.huge.button &nbsp;
              th
                #q2.ui.black.huge.button &nbsp;
              th
                #q3.ui.black.huge.button &nbsp;
              th
                #q4.ui.black.huge.button &nbsp;
          tr#r1
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
          tr#r2
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
          tr#r3
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
          tr#r4
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
          tr#r5
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
            td
              .ui.slot.huge.button &nbsp;&nbsp;
      .four.wide.column
